.body {
  background-image: url("https://github.com/cody-nightblade/cody-nightblade.github.io/blob/gh-pages/background-images/red%20coloured%20sunrise.png?raw=true");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  font-family: Roboto, Arial, sans-serif;
  color: white;
}

h1, h2 {
  text-align: center;
}

a {
  color: RGB(192, 192, 255);
}
